{% extends 'homepage/base.html'%}
{% block content %}
<div id="app" class="container" style="max-width: 1200px;">
    <div style="text-align: center !important;" class="py-5">
        <h1>Items</h1>
    </div>
    
    {% for item in object_list %}
    <div class="card mb-5">
        <div class="card-header">
            <h6>{{ item.pub_date|date }} - {{ item.title }}</h6>
        </div>
        <div class="card-body">
            {{ item.description }}
            <br/>
            <div class="position-relative">
                <div class="position-absolute top-50 end-0 translate-middle">{{item.price}}€</div>
            </div>
            {% if item.picture %}
                <img src="{{ item.picture.url }}" width=150>
            {% endif %}
            <br/>
            <p><small>Seller : {{item.seller.username}} - {{item.seller.address}}</small></p>
            <form action="{% url 'buy' item.pk %}">
                <button class="btn btn-primary" type="submit">Buy item</button>
            </form>
        </div>
    </div>
    {% empty %}
    <div class="alert alert-light" role="alert">
        No items to buy yet.
    </div>
    {% endfor %}
{% endblock %}